<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" href="../static/css/style.css" />
</head>
<body>

	<div>
    <img src="//cr-cms-prod.s3.amazonaws.com/production/cms/assets/cr-logo-571ebd53ad3f7f5a66f25d8dfbd4c9707387a277bc5df0ae1a150627d643515d.png" width="220" align="left">
    </div>
    <ul >
    <li><a href="#home">HOME</a></li>
    <li><a href="#home">VEHICLE</a></li>
    <li><a href="#home">BOOKING</a></li>
    <li><a href="#home">FEEDBACK</a></li>
    </ul>

    <footer>
 		<p>Copyright © 2018 All rights reserved.</p>
	</footer>

</body>
</html>